########### ILaaS LLM
ILaaS_API_KEY=your_ilaas_api_key
ILaaS_BASE_URL=https://llm.ilaas.fr/v1
LLM_MODEL=mistral-medium-latest

########### Database / Vector Store
CHROMA_PATH=./data/chroma_db_BGE
CHROMA_COLLECTION=MPJ_MPEDIA_PAPOTO_CAF_BGE
CHROMA_URL=http://chroma:8000

########### Embeddings
EMBEDDING_URL=http://embeddings:80

########### Grafana
GRAFANA_ADMIN_PASSWORD=your_grafana_admin_password